[Unit]
Description=<%= @hygieia_service %>
After=core-2.0.4-SNAPSHOT.jar.service

[Service]
Type=simple
User=<%= @user %>
WorkingDirectory=<%= @jar_home %>
ExecStart=/usr/bin/java -jar <%= @jar_home %>/<%= @hygieia_service %> --spring.config.location=<%= @jar_home %>/dashboard.properties
Restart=on-abort


[Install]
WantedBy=multi-user.target
